extends admin

block container

    #contact
        .row
            .large-12.small-12.page-header Administration

            .large-12.small-12#contact-info
                .row
                    .small-2.columns First Name
                    .small-2.columns Last Name
                    .small-3.columns Email
                    .small-2.columns Username
                    .small-2.columns 
                each user in users
                    .row
                        .small-2.columns #{user.firstName}
                        .small-2.columns #{user.lastName}
                        .small-3.columns #{user.email}
                        .small-2.columns #{user.username}
                        .small-2.columns
                            a(href="/admin/edituser?id=#{user.id}") Edit
            .pagination-centered#pagination
                ul.pagination
                    li.arrow
                        a(href='#{arrows.left.link}') «
                    each page in pages
                        - var klass = (page.current ? 'current' : '')
                        li(class=klass)
                            a(href="#{page.link}") #{page.pageNumber}
                    li.arrow
                        a(href='#{arrows.right.link}') »
        #push

    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/admin.js')