extends admin

block container

    #contact
        .row
            .large-12.small-12.page-header Edit user
            .large-12.small-12#contact-info
                form(name="edituser", action='/admin/edituser', method='post')#signup_form.custom
                    input(type='hidden', name='id', value="#{user.id}")
                    .row
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='first_name') First Name
                            .large-9.small-9.columns
                                input(type='text', name='first_name', placeholder='First Name', data-required="true", value="#{user.firstName}")
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='last_name') Last Name
                            .large-9.small-9.columns
                                input(type='text', name='last_name', placeholder='Last Name', data-required="true", value="#{user.lastName}")
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='username') Username
                            .large-9.small-9.columns
                                input(type='text', name='username', placeholder='Username', data-required="true", data-type="alphanum", value="#{user.username}", disabled=true)
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='password') Password
                            .large-9.small-9.columns
                                input(type="password", name='password', data-required="true", value="", placeholder='Password will be replaced only if you write a new password in this field.',)
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='email') Email
                            .large-9.small-9.columns
                                input(type='email', name='email', placeholder='Email', data-required="true", data-type="email", value="#{user.email}")
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='organizationType') Organization Type
                            .large-9.small-9.columns
                                select(name='organizationType', data-required="true")
                                    option(value="", selected = (user.groupType==="" ? true : false) ) Select organization type
                                    option(value="academic", selected = (user.groupType==="academic" ? true : false) ) Academic
                                    option(value="government", selected = (user.groupType==="government" ? true : false) ) Government
                                    option(value="commercial", selected = (user.groupType==="commercial" ? true : false) ) Commercial
                                    option(value="independent", selected = (user.groupType==="independent" ? true : false) ) Independent
                                    if(user.groupType!="academic"&&user.groupType!="government"&&user.groupType!="independent"&&user.groupType!="commercial")
                                        option(value="#{user.groupType}", selected=true) #{user.groupType}
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='organizationName') Organization Name
                            .large-9.small-9.columns
                                input(type='text', name='organizationName', placeholder='Company/University Name', data-required="true" value="#{user.groupName}")
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='organizationType') User Type
                            .large-9.small-9.columns
                                select(name='userType', data-required="true")
                                    option(value="", selected = (user.userType==="" ? true : false) ) Select user type
                                    option(value="Admin", selected = (user.userType==="Admin" ? true : false) ) Admin Access
                                    option(value="Standard", selected = (user.userType==="Standard" ? true : false) ) Standard User
                                    option(value="Guest", selected = (user.userType==="Guest" ? true : false) ) Guest User
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='activated') Activated
                            .large-9.small-9.columns
                                select(name='activated', data-required="true")
                                    option(value="true", selected = (user.activated===true ? true : false) ) Activated
                                    option(value="false", selected = (user.activated===false ? true : false) ) Not activated
                        .row
                            .large-3.small-3.columns
                                label.right.inline(for='debugAccess') Debug
                            .large-9.small-9.columns
                                select(name='debugAccess', data-required="true")
                                    option(value="true", selected = (user.debugAccess===true ? true : false) ) True
                                    option(value="false", selected = (user.debugAccess===false ? true : false) ) False
                        .row
                            .large-3.small-3.columns
                            .large-9.small-9.columns
                                input.button.radius#edit_submit(type='submit', name="update", value="Update") Update
                                a.button.radius#edit_cancel(style="margin-left:10px;", href="javascript:history.back()") Cancel
                        .row
                            .large-3.small-3.columns
                            .large-9.small-9.columns
                                input.button.radius#edit_delete.alert(type='submit', name="deleteUser", value="Delete") Delete user
                                if(!user.activated)
                                    a.button.radius#edit_cancel(style="margin-left:10px;", href="http://app.teselagen.com/users/activate/#{user.activationCode}", target="_blank") Activate and Notify
                        

        #push

    script(src='/js/jquery-1.10.2.min.js')