extends admin

block container

    #contact
        .row
            .large-12.small-12.page-header Administration

            .large-12.small-12#contact-info
                .row
                    .small-2.columns(style="font-weight:bold") Last Name
                    .small-2.columns(style="font-weight:bold") First Name
                    .small-3.columns(style="font-weight:bold") Email
                    .small-2.columns(style="font-weight:bold") Username
                    .small-1.columns(style="font-weight:bold") Type
                    .small-2.columns(style="font-weight:bold") 
        .row
            .large-12.small-12#contact-info
                each user in users
                    .row
                        .small-2.columns #{user.lastName}
                        .small-2.columns #{user.firstName}
                        .small-3.columns #{user.email}
                        .small-2.columns #{user.username}
                        if typeof(user.userType) == 'undefined' || user.userType == '' || user.userType == '-'
                            .small-1.columns -
                        else
                            .small-1.columns #{user.userType}
                        .small-2.columns
                            a(href="/admin/edituser?id=#{user.id}") Edit
            .pagination-centered#pagination
                ul.pagination
                    li.arrow
                        a(href='#{arrows.left.link}') «
                    each page in pages
                        - var klass = (page.current ? 'current' : '')
                        li(class=klass)
                            a(href="#{page.link}") #{page.pageNumber}
                    li.arrow
                        a(href='#{arrows.right.link}') »
        #push

    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/admin.js')