extends admin

block container

    #contact
        .row(style="max-width: 90%;")
            .large-12.small-12.page-header Administration

            table#user-table.large-12.small-12.large-centered.small-centered
                thead
                    tr
                        th(data-sort="string") Last Name
                        th(data-sort="string") First Name
                        th(data-sort="string") Email
                        th(data-sort="string") Username
                        th(data-sort="string") Org Type
                        th(data-sort="string") Org Name
                        th(data-sort="string") Activated
                        th(data-sort="string") Type
                        th(data-sort="string") Date Created
                        th(data-sort="string") Last Access
                        th Edit
                tbody
                    each user in users
                        tr
                            th #{user.lastName}
                            th #{user.firstName}
                            th #{user.email}
                            th #{user.username}
                            if typeof(user.groupType) == 'undefined' || user.groupType == '' || user.groupType == '-'
                                th -
                            else
                                th #{user.groupType}
                            if typeof(user.groupName) == 'undefined' || user.groupName == '' || user.groupName == '-'
                                th -
                            else
                                th #{user.groupName}
                            th #{user.activated}
                            if typeof(user.userType) == 'undefined' || user.userType == '' || user.userType == '-'
                                th -
                            else
                                th #{user.userType}
                            th #{user.dateCreated}
                            th #{user.lastAccess}
                            th
                                a(href="/admin/edituser?id=#{user.id}") Edit
        #push

    script(src='/js/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/js/stupidtable.min.js')
    script(src='/js/admin.js')
    script.
        $("#user-table").stupidtable();